<br />
- @articles.each do |article|
  #home_page_article
    .color_bar_photo
    #image_box
      = image_tag "#{article.photo(:thumb)}"
    #content_box
      = link_to article.title, :controller => 'articles', :action => 'show', :id => article.id
      %p #{article.snipit}


